@import '../../../less-library/variables';
@import '../../../less-library/mixins';

.demos-container {
  .card-container;

  .demos__title {
    .card-title;
  }

  .demo-card-container {
    .card-container-half;

    .demo-card {
      .card;
      .card-action;

      .demo-card-image {
        position: relative;
        width: 100%;
        padding-top: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .demo-card-description {
        .card-padding;
        .border-top-bar;
        .text-body;
      }

    }
  }
  
}