@import '../less-library/variables';

// TODO Use smaller files, < 1MB
@this-baseUrl: 'app/app-back-img/';
@this-img1: '@{this-baseUrl}bg1.jpg';
@this-img2: '@{this-baseUrl}bg2.jpg';
@this-img3: '@{this-baseUrl}bg3.jpg';
@this-img4: '@{this-baseUrl}bg4.jpg';

.app-back-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 500px;
  z-index: @z-back;

  background-color: #000;

  &:after {
    content: '';
    display: block;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }

  &.app-back-img--1:after {
    background-image: url(@this-img1);
  }

  &.app-back-img--2:after {
    background-image: url(@this-img2);
  }

  &.app-back-img--3:after {
    background-image: url(@this-img3);
  }

  &.app-back-img--4:after {
    background-image: url(@this-img4);
  }
}