<div class="page-card-container" appScrollSection="page">
  <div class="page-card__title">{{ 'AboutPage_Title' | translate }}</div>
  <div class="page-card">
    <div class="page-card__description">{{ 'AboutPage_Description' | translate }}</div>
  </div>
  <div class="page-card__icons">
    <a class="page-card__icon-link" *ngFor="let item of brandItems;" target="_blank" [href]="item.url" [title]="item.title">
      <div class="page-card__icon" [style.background-image]="'url(/assets/logos/'+item.iconName+'.svg)'"></div>
    </a>
  </div>
</div>