@import 'variables';
@import 'mixins-border';

.card {
  background: @white;
  .borderShadow;
}

.card-action() {
  &:hover {
    .borderShadow-hover;
  }
}

.card-fullSize() {
  padding: @padding-double;
}

.card-halfSize() {
  padding: @padding;
}