@import 'variables';

.font-size(@size, @lineHeight: @size) {
  font-size: @size;
  line-height: @lineHeight;
}


.text-primary() {
  .font-size(@textSize);
  color: @textColor-primary;
  font-family: @font-primary;
}

.text-body() {
  .text-primary;
  line-height: @textSize + 8px;
}

.text-dark() {
  color: @textColor-primary;
}

.text-grey() {
  color: @textColor-light;
}

.text-light-grey() {
  color: @textColor-lighter;
}

.text-color() {
  color: @textColor-color;
}

.text-on-dark() {
  color: @textColor-onDark;
}


.text-light() {
  font-weight: @textWeight-light;
}

.text-bold() {
  font-weight: @textWeight-bold;
}

.text-bolder() {
  font-weight: @textWeight-bolder;
}


.h1() {
  .font-size(@textSize-h1);
}

.h2() {
  .font-size(@textSize-h2);
}

.h3() {
  .font-size(@textSize-h3);
}

.h4() {
  .font-size(@textSize-h4);
}

.text-small() {
  .font-size(@textSize-small);
}

.text-large() {
  .font-size(@textSize-large);
}

.text-uppercase() {
  text-transform: uppercase;
}


.link() {
  color: @textColor-primary;
  text-decoration: none !important;
  cursor: pointer;

  &:hover, &:active, &:visited {
    color: @textColor-primary;
  }
}

.text-bubble(@arrowDown: true, @bgColor: @red-light) {
  @arrowSize: 8px;
  @arrowOffset: 5px;

  position: relative;
  margin-bottom: @arrowSize;
  padding: @padding-quarter @padding-half;
  background: @bgColor;

  .display-inline-block;
  .text-on-dark;

  &:before {
    content: '';
    border-style: solid;
    border-color: transparent;
    border-left-color: @bgColor;
    .display-block;
    .size(0, 0);

    border-width: 0 0 @arrowSize @arrowSize;
    .position(absolute, 100%, auto, auto, @arrowOffset);

    & when (@arrowDown = false) {
      border-width: @arrowSize 0 0 @arrowSize;
      .position(absolute, auto, auto, 100%, @arrowOffset);
    }
  }
}