@import 'variables';
@import 'mixins-border';

.btn() {
  padding: @padding;
  .border-primary;
  font-size: @textSize-small;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-out; // TODO

  &:hover {
    .borderShadow-hover;
  }
}

.btn-sm() {
  padding: @padding-half;
  font-size: @textSize-small;
}

.btn-lg() {
  padding: @padding @padding-double;
  font-size: @textSize;
}