@import 'variables';
@import 'mixins-border';

.card-margin() {
  margin-top: @card-margin;
}

.card() {
  .borderShadow;
  background: @bgColor-card;
}

.card-full() {
  .card;
  .card-margin;
}

.card-half() {
  .card;
  .border-top-bar;
}

.card-padding() {
  padding: @card-padding;
}

.card-action() {
  .borderShadow-on-hover;
}

.card-title() {
  .h2;
  text-align: center;
  margin-bottom: @padding-double;
  text-transform: capitalize;
}