@import 'variables';
@import 'mixins-border';

.btn() {
  padding: @padding;
  .border-primary;
  .text-small;
  .text-uppercase;
  text-decoration: none;
  cursor: pointer;
  .borderShadow-on-hover;
}

.btn-sm() {
  padding: @padding-half;
  .text-small;
}

.btn-lg() {
  padding: @padding @padding-double;
  .text-large;
}