<div class="app-header" [class.app-header--init]="isInit" [class.app-header--sticky]="isSticky" [class.app-header--hide-sticky]="stickyIsHidden" (appClickOutside)="closeMenu()">
  <div class="app-header__title hidden-sm">oloflandahl.com</div>
  <nav class="app-header__navbar">
    <div class="app-header__navbar-icon" (click)="openMenu()">
      <i class="fa fa-bars"></i>
    </div>
    <ul class="navbar" [class.navbar--open]="isMenuOpen">
      <li class="navbar__item navbar__item--close-icon" (click)="closeMenu()"><i class="fa fa-close"></i></li>
      @for (item of items; track item) {
        <li class="navbar__item" [class.navbar__item--active]="item.isActive" pageScroll [href]="'#'+item.id" (click)="select(item)">
          <span>{{ item.translationKey | translate }}</span>
        </li>
      }
      <li class="navbar__item navbar__item--box" (click)="switchLanguage()" (mouseenter)="switchLanguage()" (mouseleave)="switchLanguage()">
        <span title="{{ 'SwitchLanguage_Tooltip' | translate }}"><img src="assets/logos/{{currentLang}}.png" /></span>
      </li>
    </ul>
  </nav>
</div>
<div class="app-header-sticky-placeholder" [class.app-header-sticky-placeholder--visible]="isSticky && !stickyIsHidden"></div>