@import '../../less-library/variables';
@import '../../less-library/mixins';

.person-card {
  .card;

  .person-card__content {
    padding: @padding-double;

    .person-card__photo {
      height: 350px;
      // TODO Use png instead
      background-image: url('me.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .person-card__footer {
    padding: @padding;
    text-align: center;
    background: @red-light;

    .person-card__socialLink {
      @iconSize: @textSize-icon;
      @iconPadding: @padding-half;
      @linkSize: @iconSize + (2 * @iconPadding);

      display: inline-block;
      width: @linkSize;
      height: @linkSize;
      margin: 0 @iconPadding;
      
      font-size: @iconSize;
      line-height: @linkSize;
      color: @textColor-onDark;

      border-radius: 50%;
      background: transparent;

      .transition-short(background);

      &:hover {
        background: rgba(0,0,0, 0.1);
      }
    }
  }
}