<div class="person-card">
  <div class="row person-card__content">
    <div class="col-sm-4">
      <div class="person-card__photo"></div>
    </div>
    <div class="col-sm-8">
        <div class="person-card__info-header">
          <div class="person-card__greeting">Hello</div>
          <div class="person-card__name">I'm Olof Landahl</div>
          <div class="person-card__title">Developer</div>
        </div>
        <ul class="person-card__info-items">
          <li class="person-card__info-item">
            <strong>Age</strong>
            <div>35</div>
          </li>
        </ul>
    </div>
  </div>
  <div class="person-card__footer">
    <ul class="person-card__social-links">
      <li *ngFor="let item of items;" class="person-card__social-link">
        <a href="{{item.url}}" target="_blank" title="{{item.title}}">
          <i class="fa fa-{{item.iconName}}"></i>
        </a>
      </li>
    </ul>
  </div>
</div>