<div class='person-card'>
  <div class='row person-card__content'>
    <div class='person-card__photo col-md-4'>PHOTO</div>
    <div class='person-card__info col-md-8'>INFO</div>
  </div>
  <div class='person-card__footer'>
    <!-- TODO Convert to foreach list -->
    <a class='person-card__socialLink'>
      <i class='fa fa-github'></i>
    </a>
    <a class='person-card__socialLink'>
      <i class='fa fa-linkedin'></i>
    </a>
    <a class='person-card__socialLink'>
      <i class='fa fa-google-plus'></i>
    </a>
  </div>
</div>