<div class="app-header" [class.app-header--init]="isInit" [class.app-header--sticky]="isSticky">
  <div class="app-header__title">oloflandahl.com</div>
  <nav class="app-header__navbar">
    <ul class="navbar">
      <li *ngFor="let item of items;" class="navbar__item" [class.navbar__item--active]="item.isActive">
        <a href="#">{{ item.translationKey | translate }}</a>
      </li>
      <li class="navbar__item navbar__item--box" (click)="switchLanguage()"><a href="#" title="{{ 'SwitchLanguage_Tooltip' | translate }}">{{ currentLang }}</a></li>
    </ul>
  </nav>
</div>
<div class="app-header-sticky-placeholder" [class.app-header-sticky-placeholder--visible]="isSticky"></div>