.app-header {
  min-height: 50px;
  padding: 20px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .app-header__title {
    float: left;
    padding: 20px;
  }

  .app-header__navbar {
    float: right;
  }
}