<div class="interests-card-container" appScrollSection="interests">
  <div class="interests-card__title">{{ 'Interests_Title' | translate }}</div>
  <div class="interests-card">
    <div class="interests-card__interests">
      <div class="interests-card__interest" [class.interests-card__interest--active]="activeItem === item" *ngFor="let item of interestItems; let index = index" (click)="select(item, index)">
        <div class="interests-card__interest-icon">
          <i class="{{item.iconPrefix}} {{item.iconPrefix}}-{{item.iconName}}"></i>
        </div>
      </div>
    </div>
    <div class="interests-card__interest-description interests-card__interest-description--{{activeIndex}}">
      {{ activeItem.description | translate }}
    </div>
  </div>
</div>