<div class="interests-card-container" appScrollSection="interests">
  <div class="interests-card__title">{{ 'Interests_Title' | translate }}</div>
  <div class="interests-card">
    <div class="interests-card__interest" *ngFor="let item of interestItems">
      <div class="interests-card__interest-title hidden-xs">{{ item.title | translate }}</div>
      <div class="interests-card__interest-icon">
        <i class="{{item.iconPrefix}} {{item.iconPrefix}}-{{item.iconName}}"></i>
      </div>
    </div>
  </div>
</div>