<div class="interests-card-container" appScrollSection="interests">
  <div class="interests-card__title">{{ 'Interests_Title' | translate }}</div>
  <div class="interests-card row">
    <div class="interests-card__interest col-xs-2" *ngFor="let item of interestItems">
      <div class="interests-card__interest-title">{{ item.title | translate }}</div>
      <div class="interests-card__interest-icon">
        <i class="map-icon map-icon-{{item.iconName}}"></i>
      </div>
    </div>
  </div>
</div>