@import '../../../less-library/variables';
@import '../../../less-library/mixins';

.interests-card-container {
  .card-container;

  .interests-card__title {
    .card-title;
  }

  .interests-card {
    .card;
    .card-padding;

    @interest-width: 100% / 7;

    .interests-card__interests {
      .clearfix;

      .interests-card__interest {
        float: left;
        width: @interest-width;
        padding: @padding-three-quarter;
        text-align: center;
        cursor: pointer;
        .text-grey;

        @media (max-width: @mq-xxs-max) {
          padding: @padding-three-quarter @padding-quarter;
        }

        &:hover,
        &.interests-card__interest--active {
          .text-color;
        }

        .interests-card__interest-title {
          .text-small;
          .text-uppercase;
          margin-bottom: @padding-half;
        }

        .interests-card__interest-icon {
          .font-size(@textSize-xl-icon);

          @media (max-width: @mq-xxs-max) {
            .font-size(@textSize-lg-icon);
          }
        }
      }
    }

    .interests-card__interest-description {
      position: relative;
      width: 100%;
      .text-body;
      .text-bubble(false);
      padding: @padding-half @padding-double @padding-half @padding;

      .interests-card__interest-description-close {
        .position(absolute, @padding-quarter, @padding-half);

        &:hover {
          .text-light-grey;
          cursor: pointer;
        }
      }

      &:before {
        .transition-short(left);
      }

      @arrow-offset: @interest-width / 2;

      .arrow-helper(0);
      .arrow-helper(1);
      .arrow-helper(2);
      .arrow-helper(3);
      .arrow-helper(4);
      .arrow-helper(5);
      .arrow-helper(6);
    }

    .arrow-helper(@nth) {
      &.interests-card__interest-description--@{nth} {
        &:before {
          left: calc(@arrow-offset + @nth * @interest-width);
        }
      }
    }

  }
}