@import 'variables';

.font-size(@size) {
  font-size: @size;
  line-height: @size;
}

.text-font() {
  font-family: @font-primary;
}

.text-size() {
  .font-size(@textSize);
}

.text-primary() {
  .text-font;
  .text-size;
  color: @textColor-primary;
}

.text-color() {
  .text-font;
  .text-size;
  color: @textColor-secondary;
}

.text-on-dark() {
  color: @textColor-onDark;
}

.h1() {
  font-size: @textSize-h1;
}

.h2() {
  font-size: @textSize-h2;
}

.h3() {
  font-size: @textSize-h3;
}