@import '../../less-library/variables';
@import '../../less-library/mixins';

.timeline {
  .card-margin;

  .timeline__title {
    .card-title;
  }

  .timeline-cards-container {

    position: relative;

    &:before {
      @lineOffset: floor(@lineWidth-thick / 2);
      @linePos: ~"calc( 50% - " @lineOffset ~")";

      content: '';
      .position(absolute, 0, @linePos, 0);
      z-index: @z-back;
      width: @lineWidth-thick;
      .bg-bar;
    }

    .timeline-card-container {

      position: relative;
      display: inline-block;
      width: 100%;
      padding: @padding 0;

      .timeline-card {
        position: relative;
        min-height: 200px;
        .card-half;
        .card-padding;
      }

      @media (min-width: 992px) { // TODO Move to variables
        @arrowWidth: 10px;
        @arrowHeight: 20px;
        @arrowOffset: @padding;
        @cardSpacing: @padding-double;

        width: 50%;

        // TODO Complete and consider creating an arrow mixin used both here and in .bubble
        .timeline-card:before {
          content: '';
          position: absolute;
          border-style: solid;
          border-color: transparent;
          border-width: @arrowHeight @arrowWidth;

          background-image: url(arrows.png);
          background-repeat: no-repeat;
          background-position-y: -@arrowOffset; 
        }

        &:before {
          @dotSize: 2 * @lineWidth-thick + 1;

          content: '';
          position: absolute;
          .size(@dotSize, @dotSize);
          .border-circular;
          .bg-color;
        }

        &.timeline-card-container--left {
          padding-right: @cardSpacing;

          &:before {
            top: @arrowOffset + @cardSpacing;
            right: -@lineWidth-thick;
          }

          .timeline-card:before {
            top: @arrowOffset;
            right: -2 * @arrowWidth;
            border-left-color: @bgColor-secondary;
            background-position-x: -28px;
          }
        }

        &.timeline-card-container--right {
          padding-left: @cardSpacing;

          &:before {
            bottom: @arrowOffset + @cardSpacing;
            left: -@lineWidth-thick - 1;
          }

          .timeline-card:before {
            bottom: @arrowOffset + @lineWidth-thick;
            left: -2 * @arrowWidth;
            border-right-color: @bgColor-secondary;
            background-position-x: -2px;
          }
        }

      }
      
    }
  }
  
}