<div class="skills-card-container" appScrollSection="skills">
  <div class="skills-card__title">{{ 'Skills_Title' | translate }}</div>

  <div class="skills-card">
    <div class="row skills-card__skills">
      @for (item of skillItems; track item) {
        <div class="col-md-6 skill">
          <div class="skill__title">{{item.key}}</div>
          <div class="skill__bar-container">
            <div class="skill__bar skill__bar--full"></div>
            <div class="skill__bar skill__bar--fill" [style.width]="item.value+'%'"></div>
          </div>
        </div>
      }
    </div>
  </div>
</div>